.NavBar {
    background-color: #333;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 15px;
    transition: height 0.5s ease-in-out;
}

.menu {
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
}

.menu .nav-icon {
    color: #fff;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
}

.nav-text {
    margin-top: 5px;
}

.NavBar:hover {
    height: 40px;
}

.nav-icon:hover {
    color: lightpink;
}